@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    { 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User.IsInRole("Admin"))
    {
        <h2>Ingelogd als Beheerder</h2>
    }
    else
    {
        <h2>Ingelogd als Gebruiker</h2>
    }
    }

</div>
