@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    { 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User.IsInRole("Admin"))
    {
        <h2>Ingelogd als Beheerder</h2>
    }
    else
    {
        <h2>Ingelogd als Gebruiker</h2>
    }
    }

</div>

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER">Magazijn 1</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER2">Magazijn 2</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER3">Magazijn 3</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER4">Magazijn 4</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER5">Magazijn 5</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER6">Magazijn 6</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER7">Magazijn 7</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER8">Magazijn 8</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER9">Magazijn 9</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER10">Magazijn 10</a>
    <a class="dropdown-item" asp-controller="MagazijnPartijsController" asp-action="IndexOVER11">Magazijn 11</a>
</div>
